nav {
  flex: var(--sidebar-flex);
  background: #f2f3f7;
  width: auto;
  max-width: 300px;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li {
  margin: 40px;
}

@media only screen and (max-width: 767px) {
  nav {
    max-width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    margin: 10px;
  }
}